:root {
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius-lg: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-foreground);
}
